# Exercise 1

In [1]:
a={}
a['1']=[1]
a['1'].append(2)
print(a)

{'1': [1, 2]}
{'1': [1, 2]}

In [2]:
#importing numpy and pandas libraries
import numpy as np
import pandas as pd

In [3]:
# Defining a function deal() to deal cards to two players
def deal():
    # Initialize player hands
    p1 = []
    p2 = []
    
    # Initialize and shuffle deck
    deck = list(range(1, 14)) * 4
    np.random.shuffle(deck)
    
    # Deal cards to each player
    for i in range(len(deck)):
        if i % 2:
            p2.append(deck.pop(0))
        else:
            p1.append(deck.pop(0))
            
    return p1, p2

## 1.1, 1.2, 1.3

In [4]:
# Re-define function to play a single game - No print statements
# The code is a modified version of the solution of HW2 uploaded on ELMS
def play(games=1):
    dict1={}
    # Collect statistics
    S = {}
    S['p1_initial_total']=[]
    S['p2_initial_total']=[]
    S['ties']=[]
    S['largest_Total']=[]
    S['winner']=[]
    S['p1_final_total']=[]
    S['p2_final_total']=[]
    
    for game_count in range(games):
        # Deal cards to players, initialize claim lists
        p1, p2 = deal()
        p1_claim, p2_claim = [], []
        ties=0
        largest_total=0
        
        
        # Calculate initial statistics
        S['p1_initial_total'].append(sum(p1))
        S['p2_initial_total'].append(sum(p2))
        
        # Play!
        k = 1 # round counter
        i = 13 # maximum number of rounds
        while i > 0:
            # Each player plays two cards
            p1_play = [p1.pop(0), p1.pop(0)]
            p2_play = [p2.pop(0), p2.pop(0)]
            i -= 1

            # Check for tie, and process accordingly
            if sum(p1_play) > sum(p2_play):
                # Player 1 wins hand, append cards to claim list
                p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                if (sum(p1_play)+sum(p2_play))>largest_total:
                    largest_total=sum(p1_play)+sum(p2_play)
            elif sum(p2_play) > sum(p1_play):
                # Player 2 wins hand, append cards
                p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                if (sum(p1_play)+sum(p2_play))>largest_total:
                    largest_total=sum(p1_play)+sum(p2_play)
            else:
                temp=0
                # Tie - Continue to play two cards until a player wins
                if i > 0:
                    while sum(p1_play[-2:]) == sum(p2_play[-2:]):
                        p1_play.extend([p1.pop(0), p1.pop(0)])
                        p2_play.extend([p2.pop(0), p2.pop(0)])
                        i -= 1
                        ties+=1
                        temp+=sum(p1_play)+sum(p2_play)
                        
                        if sum(p1_play[-2:]) > sum(p2_play[-2:]):
                            # Player 1 wins hand, append cards to claim list
                            p1_claim.extend(p1_play); p1_claim.extend(p2_play)

                            if (temp)>largest_total:
                                largest_total=temp

                        elif sum(p2_play[-2:]) > sum(p1_play[-2:]):
                            # Player 2 wins hand, append cards to claim list
                            p2_claim.extend(p1_play); p2_claim.extend(p2_play)

                            if (temp)>largest_total:
                                largest_total=temp

                        else:
                            # Check for whether game ends in a tie - return cards to respective players
                            if i <= 0:
                                p1_claim.extend(p1_play)
                                p2_claim.extend(p2_play)
                                break
                else:
                    # Game ends in a tie - return cards to respective players
                    p1_claim.extend(p1_play)
                    p2_claim.extend(p2_play)

            # Increment round
            k += 1
        
        # Game over, compile results
        S['p1_final_total'].append((sum(p1_claim)))
        S['p2_final_total'].append((sum(p2_claim)))
        S['ties'].append(ties)
        S['largest_Total'].append(largest_total)
        if S['p1_final_total'] != S['p2_final_total']:
            # One player wins
            S['winner'].append(0) if S['p1_final_total'] > S['p2_final_total'] else S['winner'].append(0)
        else:
            # Game is tied
            S['winner'].append(-1)
      
        # Return results
    return S

## 1.4

In [5]:
#To play a single game
play()

{'p1_initial_total': [214],
 'p2_initial_total': [150],
 'ties': [0],
 'largest_Total': [39],
 'winner': [0],
 'p1_final_total': [260],
 'p2_final_total': [104]}

{'p1_initial_total': [214],
 'p2_initial_total': [150],
 'ties': [0],
 'largest_Total': [39],
 'winner': [0],
 'p1_final_total': [260],
 'p2_final_total': [104]}

In [6]:
#To play multiple games
play(5)

{'p1_initial_total': [178, 186, 174, 184, 179],
 'p2_initial_total': [186, 178, 190, 180, 185],
 'ties': [0, 0, 0, 0, 1],
 'largest_Total': [40, 39, 44, 41, 48],
 'winner': [0, 0, 0, 0, 0],
 'p1_final_total': [142, 242, 163, 140, 169],
 'p2_final_total': [222, 122, 201, 224, 195]}

{'p1_initial_total': [178, 186, 174, 184, 179],
 'p2_initial_total': [186, 178, 190, 180, 185],
 'ties': [0, 0, 0, 0, 1],
 'largest_Total': [40, 39, 44, 41, 48],
 'winner': [0, 0, 0, 0, 0],
 'p1_final_total': [142, 242, 163, 140, 169],
 'p2_final_total': [222, 122, 201, 224, 195]}

# Exercise 2

In [7]:
#To simulate 1000 games and storing the results in a pandas DataFrame
outcome=pd.DataFrame(play(1000))

In [8]:
#To display the first 10 rows
outcome.head(10)

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total
0,189,175,0,46,0,195,169
1,179,185,1,59,0,179,185
2,185,179,3,64,0,233,131
3,180,184,0,41,0,205,159
4,190,174,1,60,0,163,201
5,197,167,1,61,0,234,130
6,173,191,2,136,0,164,200
7,189,175,1,66,0,299,65
8,182,182,1,49,0,192,172
9,166,198,0,38,0,94,270

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total
0,189,175,0,46,0,195,169
1,179,185,1,59,0,179,185
2,185,179,3,64,0,233,131
3,180,184,0,41,0,205,159
4,190,174,1,60,0,163,201
5,197,167,1,61,0,234,130
6,173,191,2,136,0,164,200
7,189,175,1,66,0,299,65
8,182,182,1,49,0,192,172
9,166,198,0,38,0,94,270

In [9]:
#To display the last 10 rows
outcome.tail(10)

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total
990,174,190,0,45,0,103,261
991,184,180,0,40,0,136,228
992,187,177,1,47,0,210,154
993,176,188,1,45,0,139,225
994,179,185,0,40,0,139,225
995,174,190,2,64,0,167,197
996,180,184,0,39,0,176,188
997,181,183,0,43,0,212,152
998,195,169,0,39,0,215,149
999,213,151,0,38,0,249,115

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total
990,174,190,0,45,0,103,261
991,184,180,0,40,0,136,228
992,187,177,1,47,0,210,154
993,176,188,1,45,0,139,225
994,179,185,0,40,0,139,225
995,174,190,2,64,0,167,197
996,180,184,0,39,0,176,188
997,181,183,0,43,0,212,152
998,195,169,0,39,0,215,149
999,213,151,0,38,0,249,115

# Exercise 3

## 3.1

In [10]:
#Adding a new column to specify the outcome of the game
outcome.loc[:,'outcome'] = 'Tie game'
outcome.loc[outcome['winner']==0, 'outcome'] = 'Player 1 wins'
outcome.loc[outcome['winner']==1, 'outcome'] = 'Player 2 wins'
outcome.loc[outcome['winner']==-1, 'outcome'] = 'Tie game'

## 3.2

In [11]:
#Adding new columns for the winning total 
outcome.loc[outcome['p1_final_total']>outcome['p2_final_total'], 'winning_total'] = outcome['p1_final_total']
outcome.loc[outcome['p1_final_total']<outcome['p2_final_total'], 'winning_total'] = outcome['p2_final_total']
outcome.loc[outcome['p1_final_total']==outcome['p2_final_total'], 'winning_total'] = np.nan

In [12]:
#Adding new columns for the losing total
outcome.loc[outcome['p1_final_total']>outcome['p2_final_total'], 'losing_total'] = outcome['p2_final_total']
outcome.loc[outcome['p1_final_total']<outcome['p2_final_total'], 'losing_total'] = outcome['p1_final_total']
outcome.loc[outcome['p1_final_total']==outcome['p2_final_total'], 'losing_total'] = np.nan

## 3.3

In [13]:
#To preview the first 10 rows of the modified DataFrame
outcome.head(10)

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total,outcome,winning_total,losing_total
0,189,175,0,46,0,195,169,Player 1 wins,195.0,169.0
1,179,185,1,59,0,179,185,Player 1 wins,185.0,179.0
2,185,179,3,64,0,233,131,Player 1 wins,233.0,131.0
3,180,184,0,41,0,205,159,Player 1 wins,205.0,159.0
4,190,174,1,60,0,163,201,Player 1 wins,201.0,163.0
5,197,167,1,61,0,234,130,Player 1 wins,234.0,130.0
6,173,191,2,136,0,164,200,Player 1 wins,200.0,164.0
7,189,175,1,66,0,299,65,Player 1 wins,299.0,65.0
8,182,182,1,49,0,192,172,Player 1 wins,192.0,172.0
9,166,198,0,38,0,94,270,Player 1 wins,270.0,94.0

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total,outcome,winning_total,losing_total
0,189,175,0,46,0,195,169,Player 1 wins,195.0,169.0
1,179,185,1,59,0,179,185,Player 1 wins,185.0,179.0
2,185,179,3,64,0,233,131,Player 1 wins,233.0,131.0
3,180,184,0,41,0,205,159,Player 1 wins,205.0,159.0
4,190,174,1,60,0,163,201,Player 1 wins,201.0,163.0
5,197,167,1,61,0,234,130,Player 1 wins,234.0,130.0
6,173,191,2,136,0,164,200,Player 1 wins,200.0,164.0
7,189,175,1,66,0,299,65,Player 1 wins,299.0,65.0
8,182,182,1,49,0,192,172,Player 1 wins,192.0,172.0
9,166,198,0,38,0,94,270,Player 1 wins,270.0,94.0

In [14]:
#To summarize the frequency of the three outcomes
print('The frequency for the three outcomes: ')
print(outcome['outcome'].value_counts())

The frequency for the three outcomes:
Player 1 wins    1000
Name: outcome, dtype: int64
The frequency for the three outcomes:
Player 1 wins    1000
Name: outcome, dtype: int64

In [15]:
#To display the rows in your DataFrame that contain the 'Tie game' outcomes
outcome[outcome['outcome']=='Tie game']

Empty DataFrame
Columns: [p1_initial_total, p2_initial_total, ties, largest_Total, winner, p1_final_total, p2_final_total, outcome, winning_total, losing_total]
Index: []

Empty DataFrame
Columns: [p1_initial_total, p2_initial_total, ties, largest_Total, winner, p1_final_total, p2_final_total, outcome, winning_total, losing_total]
Index: []

## 3.4

In [16]:
#To provide descriptive statistics for the winning_total column
outcome.winning_total.describe()

count    991.000000
mean     225.329970
std       31.396022
min      183.000000
25%      200.000000
50%      220.000000
75%      245.000000
max      338.000000
Name: winning_total, dtype: float64

count    991.000000
mean     225.329970
std       31.396022
min      183.000000
25%      200.000000
50%      220.000000
75%      245.000000
max      338.000000
Name: winning_total, dtype: float64

In [17]:
#Display the rows which has top 10 winning totals
outcome.sort_values(by='winning_total', ascending = False).head(10)

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total,outcome,winning_total,losing_total
72,211,153,0,41,0,338,26,Player 1 wins,338.0,26.0
200,154,210,1,45,0,33,331,Player 1 wins,331.0,33.0
585,161,203,4,67,0,35,329,Player 1 wins,329.0,35.0
243,159,205,2,72,0,37,327,Player 1 wins,327.0,37.0
13,147,217,0,39,0,41,323,Player 1 wins,323.0,41.0
497,157,207,1,70,0,41,323,Player 1 wins,323.0,41.0
685,211,153,1,74,0,322,42,Player 1 wins,322.0,42.0
660,162,202,3,145,0,49,315,Player 1 wins,315.0,49.0
659,159,205,1,45,0,51,313,Player 1 wins,313.0,51.0
621,207,157,1,54,0,313,51,Player 1 wins,313.0,51.0

,p1_initial_total,p2_initial_total,ties,largest_Total,winner,p1_final_total,p2_final_total,outcome,winning_total,losing_total
72,211,153,0,41,0,338,26,Player 1 wins,338.0,26.0
200,154,210,1,45,0,33,331,Player 1 wins,331.0,33.0
585,161,203,4,67,0,35,329,Player 1 wins,329.0,35.0
243,159,205,2,72,0,37,327,Player 1 wins,327.0,37.0
13,147,217,0,39,0,41,323,Player 1 wins,323.0,41.0
497,157,207,1,70,0,41,323,Player 1 wins,323.0,41.0
685,211,153,1,74,0,322,42,Player 1 wins,322.0,42.0
660,162,202,3,145,0,49,315,Player 1 wins,315.0,49.0
659,159,205,1,45,0,51,313,Player 1 wins,313.0,51.0
621,207,157,1,54,0,313,51,Player 1 wins,313.0,51.0

# Exercise 4

## 4.1

In [18]:
#Calculate the frequency of the number of ties in each games
outcome['ties'].value_counts()

0    558
1    332
2     92
3     15
4      3
Name: ties, dtype: int64

0    558
1    332
2     92
3     15
4      3
Name: ties, dtype: int64

## 4.2

In [19]:
#Calculate the mean maximum round total as a function of the number of ties.
for i in outcome.ties.unique():
    outcome_filter=outcome[outcome.ties==(i)]
    print('Ties(' + str(i) + ') :' + str(outcome_filter.largest_Total.mean()))

Ties(0) :40.39247311827957
Ties(1) :56.69277108433735
Ties(3) :104.2
Ties(2) :75.83695652173913
Ties(4) :95.66666666666667
Ties(0) :40.39247311827957
Ties(1) :56.69277108433735
Ties(3) :104.2
Ties(2) :75.83695652173913
Ties(4) :95.66666666666667

I observe that as the number of ties increase, the mean maximum round total also increases. Here, the number of cards that the winner of a tie-breaking round takes increase, so the round total for this situation will also increase.